<div class="outer">
  <div class="inner">
    <h2>Admin Login Page</h2>

    <form [formGroup]="adminLogin" (submit)="loginFunc()">
      <div class="form-group">
        <label for="username">Enter admin username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
      </div>
      <div class="form-group my-4 ">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password"
          formControlName="password">
      </div>
      <button type="submit" class="my-4 btn btn-primary">Submit</button>
    </form>
  </div>
</div>