<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parallel test suite" parallel="classes" thread-count="2">
  <test name="Automate Flipkart">
    <classes>
      <class name="project.AutomateFlipkart"/>
      <class name="project.AutomateFlipkart2"/>
    </classes>
  </test>
</suite>
