<div class="container">
    <div class="bg-img">
        <div class="content">
            Founded in 2020, by a team of seasoned E-Commerce, Financial Services and Private Equity professionals,
            YourPortfolio was driven by the motivation to democratise wealth.
            <br> <br>
            Since launching, we have entered partnerships with leading industry institutions. As of June 2022, we have
            the license to trade with both ASX and key Crypto exchanges. We don’t plan to stop there either.
            <br> <br>
            Our strength lies in our innovation, typified by our Australian-first Crypto Gift Card offering and the
            development of Australia’s only operating closed-loop Crypto exchange. With Crypto trading up and running,
            equity trading is imminent, and our next generation of trading strategies will be launching soon.
        </div>
    </div>

</div>
<router-outlet></router-outlet>